<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <label>Email:</label><br>
    <input type="email" name="email" required><br>
    <label>Passwort:</label><br>
    <input type="password" name="password" required><br><br>
    <button type="submit">Login</button>
  </form>
  <p>Kein Account? <a href="/register">Registrieren</a></p>
</body>
</html>
